# Python 실습 환경

In [1]:
import sys
print("python 버전 : {}".format(sys.version))

import numpy as np
print("numpy 버전 : {}".format(np.__version__))

import pandas as pd
print("pandas 버전 : {}".format(pd.__version__))

python 버전 : 3.10.11 (tags/v3.10.11:7d4cc5a, Apr  5 2023, 00:38:17) [MSC v.1929 64 bit (AMD64)]
numpy 버전 : 1.26.2
pandas 버전 : 2.1.3

In [2]:
import os
os.getcwd()

'c:\\DEV'

In [3]:
os.chdir("..")
os.getcwd()

'c:\\'

In [4]:
%pwd

'c:\\'

In [5]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 24A6-A8B5

 Directory of c:\

12/06/2023  08:58 PM    <DIR>          DEV
05/07/2022  02:24 PM    <DIR>          PerfLogs
12/04/2023  08:31 PM    <DIR>          Program Files
12/04/2023  08:30 PM    <DIR>          Program Files (x86)
12/04/2023  08:09 PM    <DIR>          Users
12/04/2023  08:10 PM             1,548 vboxpostinstall.log
12/04/2023  09:04 PM    <DIR>          Windows
               1 File(s)          1,548 bytes
               6 Dir(s)  73,374,683,136 bytes free

In [6]:
os.chdir("DEV/adspenv")
os.getcwd()

'c:\\DEV\\adspenv'

# 『2과목』 Python에서 데이터 구조화 하기

## 파이썬 연산처리

In [7]:
print(7 + 4)  # 7 더하기 4는 11

print(7 - 4) # 7 빼기 4는 3

print(7 * 4) # 7 곱하기 4는 28

print(7 // 4) # 7을 4로 나눈 몫은 1

print(7 / 4) # 7을 4로 나누기  1.75

print(7 % 4) # 7을 4로 나눈 나머지는 3

print(7 ** 4) # 네제곱 2401

print(7 ** -4) # 음수 제곱은 역수 7^(-4)

print(7 ** 0) # 모든 수의 0 제곱은 1

11
3
28
1
1.75
3
2401
0.00041649312786339027
1

In [8]:
myMoney = 5000;
print(myMoney)
candyPrice = 120;
print(candyPrice)
#최대한 살 수 있는 사탕 수 계산식? 갖고 있는 돈 // 사탕 가격
numCandies = myMoney // candyPrice
print(numCandies)
print('5000원으로 120원짜리 사탕을 최대한 살 수 있는 갯수 =', numCandies)
#그렇다면, 남은 돈은 얼마일까?
change = myMoney % candyPrice;
print(change)
print("5000원으로 120원짜리 사탕을 사고 남은 돈은 =", change)

5000
120
41
5000원으로 120원짜리 사탕을 최대한 살 수 있는 갯수 = 41
80
5000원으로 120원짜리 사탕을 사고 남은 돈은 = 80

## 파이썬 원소와 자료형

In [9]:
print(123e3)

123000.0

In [10]:
print(123e-4)

0.0123

In [11]:
age = input('나이: ')

나이:  24

In [12]:
print(int(age) + 10)

34

In [13]:
print('abc')

abc

In [14]:
print("abc")

abc

In [15]:
print("'a'bc")

'a'bc

In [16]:
print('"a"bc')

"a"bc

In [17]:
print('\'a\'bc')

print("\"a\"bc")

'a'bc
"a"bc

In [18]:
print('''abc''')

print("""abc""")

print(""""a"bc""")

print("""'a'bc""")

abc
abc
"a"bc
'a'bc

In [19]:
print('python'[0])
print('python'[5])
print('python'[1:4])
print('python'[1:4])

p
n
yth
yth

In [20]:
my_string = "Hello, World!"

# 문자열에서 특정 인덱스의 문자 가져오기
print(my_string[0])   # 'H'
print(my_string[7])   # 'W'
print(my_string[-1])  # '!'

H
W
!

In [21]:
my_string = "Hello, World!"

# 문자열에서 일부분 추출하기
print(my_string[0:5])    # 'Hello'
print(my_string[7:])     # 'World!'
print(my_string[:5])     # 'Hello'
print(my_string[::2])    # 'Hlo ol!'

Hello
World!
Hello
Hlo ol!

In [22]:
my_string = "Hello, World!"

print(my_string[-1])     # '!'
print(my_string[-6:-1])  # 'World'

!
World

In [23]:
residentRegistrationNumber = "230131-1234567"

print("성별 : " + residentRegistrationNumber[7]) # 성별 : 1
print("연 : " + residentRegistrationNumber[0:2]) # 0 부터 2 직전까지 (0, 1) : 99 년
print("월 : " + residentRegistrationNumber[2:4]) # 2 부터 4 직전까지 (2, 3) : 01 월
print("일 : " + residentRegistrationNumber[4:6]) # 4 부터 6 직전까지 (4, 5) : 20 일

print("생년월일 : " + residentRegistrationNumber[:6]) # 처음부터 6 직전까지 -> jumin[0:6] 과 동일
print("뒤 7자리 : " + residentRegistrationNumber[7:]) # 7 부터 끝까지 -> jumin[7:14] 와 동일

성별 : 1
연 : 23
월 : 01
일 : 31
생년월일 : 230131
뒤 7자리 : 1234567

In [24]:
print("abc"[0])

print("abc"[1])

print("abc"[2])

print("abc"[-1])

a
b
c
c

In [25]:
print("abc"[:2])

print("abc"[-2:])

ab
bc

In [26]:
flag = input('참(1)/거짓(0): ')

참(1)/거짓(0):  0

In [27]:
print(flag)

0

In [28]:
flag_i = int(flag)

In [29]:
print(bool(flag_i))

False

In [30]:
flag_a = input('당신은 성인입니까?[에(1)/아니오(0)\n')

당신은 성인입니까?[에(1)/아니오(0)
 0

In [31]:
flag_a = int(flag_a)
print(bool(flag_a))

False

## 파이썬에서 자료구조

In [32]:
flist = [1, "String", 3]
for i in flist:
    print(i)

1
String
3

### Lists

In [33]:
a = []                   # 빈 리스트
b = [1, 2, 3]            # 숫자로 이루어진 리스트
c = ['Life', 'is', 'too', 'short']  # 문자열로 이루어진 리스트
d = [1, 2, 'Life', 'is']  # 숫자와 문자열이 혼합된 리스트
e = [1, 2, ['Life', 'is']]  # 리스트 내에 또 다른 리스트를 포함한 리스트

print(a)  # []
print(b)  # [1, 2, 3]
print(c)  # ['Life', 'is', 'too', 'short']
print(d)  # [1, 2, 'Life', 'is']
print(e)  # [1, 2, ['Life', 'is']]

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

In [34]:
L1 = [ 1, 2, 3] # L1: 리스트 [1, 2, 3]을 정의하고, 인덱싱을 통해 요소를 출력합니다. L1[0]는 첫 번째 요소를, L1[-1]은 마지막 요소를 나타냅니다.
print(L1)
print(L1[0])
print(L1[0] + L1[2])
print(L1[-1])
L2 = [ 1, 2, 3, ['a', 'b', 'c']] # L2: 리스트 [1, 2, 3, ['a', 'b', 'c']]를 정의하고, 인덱싱을 통해 요소를 출력합니다. L2[-1][0]과 L2[-1][1]은 리스트 내에 있는 내부 리스트의 첫 번째와 두 번째 요소를 나타냅니다.
print(L2[0])
print(L2[-1])
print(L2[3])
print(L2[-1][0])
print(L2[-1][1])
L3 = [1, 2, ['a', 'b', ['Life', 'is']]] # L3: 리스트 [1, 2, ['a', 'b', ['Life', 'is']]]를 정의하고, 인덱싱을 통해 요소를 출력합니다. L3[2][2][0]은 리스트 내에 중첩된 내부 리스트에서 'Life'라는 문자열을 나타냅니다.
print(L3[2][2][0])

[1, 2, 3]
1
4
3
1
['a', 'b', 'c']
['a', 'b', 'c']
a
b
Life

In [35]:
L1 = [
    [1,2,3],
    [4,5,6]
]                  # L1: 2차원 리스트로 각각의 요소가 리스트인 리스트입니다. [1, 2, 3]과 [4, 5, 6] 두 개의 리스트가 포함되어 있습니다.

print(L1)
print(L1[1][0]) # L1[1][0]: L1의 두 번째 리스트(인덱스 1)에서 첫 번째 요소(인덱스 0)를 가져옵니다. 따라서 출력 결과는 4가 됩니다.

[[1, 2, 3], [4, 5, 6]]
4

In [36]:
L1 = [1, 2, 3, 4, 5]
print(L1[0:2])         # L1[0:2]는 리스트 L1에서 인덱스 0부터 1까지의 요소를 추출합니다.
L2 = "12345"
print(L2[0:2])         # L2[0:2]는 문자열 L2에서 인덱스 0부터 1까지의 문자열을 추출합니다.
L3 = [1, 2, 3, 4, 5]
L4 = L3[:2]                # L3[:2]는 리스트 L3에서 처음부터 인덱스 1까지의 요소를 추출합니다.
L5 = L3[2:]                # L3[2:]는 리스트 L3에서 인덱스 2부터 마지막 요소까지를 추출합니다.
print(L4)
print(L5)
L6 = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(L6[2:5])          # L6[2:5]는 리스트 L6에서 인덱스 2부터 4까지의 요소를 추출합니다.
print(L6[3][:2])       # L6[3][:2]는 리스트 L6에서 인덱스 3의 리스트에서 처음부터 인덱스 1까지의 요소를 추출합니다.

[1, 2]
12
[1, 2]
[3, 4, 5]
[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [37]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
print(L1 + L2)  # L1 + L2: 두 개의 리스트 L1과 L2를 연결하여 하나의 새로운 리스트를 만듭니다.
print(L1 * 3)      # L1 * 3: 리스트 L1을 세 번 반복하여 하나의 새로운 리스트를 만듭니다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
L1 = [1, 2, 3]
print(L1)
L1[2] = 4     # L1[2] = 4: 리스트 L1의 인덱스 2 위치의 값을 4로 변경합니다.
print(L1)
print(L1[1:2]) # L1[1:2] = ['a', 'b', 'c']: 리스트 L1에서 인덱스 1부터 인덱스 2 전까지의 범위에 해당하는 요소를 'a', 'b', 'c'로 대체합니다.
L1[1:2] = ['a', 'b', 'c']
print(L1)
L1[1:3] = [] # L1[1:3] = []: 리스트 L1에서 인덱스 1부터 인덱스 2까지의 범위에 해당하는 요소를 삭제합니다.
print(L1)
del L1[1]     # del L1[1]: 리스트 L1에서 인덱스 1의 요소를 삭제합니다.
print(L1)

[1, 2, 3]
[1, 2, 4]
[2]
[1, 'a', 'b', 'c', 4]
[1, 'c', 4]
[1, 4]

In [39]:
L1 = [1, 2, 3]

print(2 in L1)    # True - 2는 리스트 L1 안에 존재합니다.
print(4 in L1)    # False - 4는 리스트 L1 안에 존재하지 않습니다.
print(2 not in L1)  # False - 2는 리스트 L1 안에 존재합니다. 따라서 "not in" 연산자는 False를 반환합니다.
print(4 not in L1)  # True - 4는 리스트 L1 안에 존재하지 않습니다. 따라서 "not in" 연산자는 True를 반환합니다.

True
False
False
True

In [40]:
L1 = [1, 2, 3]

dir(L1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [41]:
L1 = [1, 2, 3]

L1.append(4)    # 리스트 끝에 요소 4를 추가합니다.
L1.append(5)    # 리스트 끝에 요소 5를 추가합니다.
L1.append(6)    # 리스트 끝에 요소 6을 추가합니다.
print("Output #83: {}".format(L1))  # [1, 2, 3, 4, 5, 6]

L1.remove(5)    # 리스트에서 값이 5인 첫 번째 요소를 제거합니다.
print("Output #84: {}".format(L1))  # [1, 2, 3, 4, 6]

L1.pop()        # 리스트의 마지막 요소를 제거합니다.
L1.pop()        # 리스트의 마지막 요소를 한 번 더 제거합니다.
print("Output #85: {}".format(L1))  # [1, 2, 3]

Output #83: [1, 2, 3, 4, 5, 6]
Output #84: [1, 2, 3, 4, 6]
Output #85: [1, 2, 3]

In [42]:
unordered_list = [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]
print("Output : {}".format(unordered_list))
list_copy = unordered_list[:]  #list_copy = unordered_list[:]: [:]를 사용하여 리스트 unordered_list를 복사하여 새로운 리스트 list_copy를 생성합니다.
list_copy.sort() # list_copy.sort(): sort() 메서드를 사용하여 list_copy 리스트를 오름차순으로 정렬합니다.
print("Output #89: {}".format(list_copy))

Output : [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]
Output #89: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
my_list = [1, 2, 3, 4, 5]
new_list = [x for x in my_list if x > 3]
print(new_list)

[4, 5]

In [44]:
CoffeeBean = ["JamaicanBlueMountain", "KenyaAA", "SumatraMandheling","ColombianMilds","Santos"]
recall = [ ] # 리콜 대상 제품 리스트
for p in CoffeeBean:
    if p.startswith("S"): # CoffeeBean이 S 로 시작하는가?
        recall.append(p)
print(recall)

['SumatraMandheling', 'Santos']

In [45]:
CoffeeBean = ["JamaicanBlueMountain", "KenyaAA", "SumatraMandheling","ColombianMilds","Santos"]
recall = [p for p in CoffeeBean if p.startswith("S")]
print(recall)

['SumatraMandheling', 'Santos']

In [46]:
CoffeeBean = ["JamaicanBlueMountain", "KenyaAA", "SumatraMandheling","ColombianMilds","Santos"]
# 모든 CoffeeBean 뒤에 SE (Special Edition) 을 붙인다
CoffeeBean_se = [p + "SE" for p in CoffeeBean]
print(CoffeeBean_se)

# 모든 CoffeeBean을 소문자로 바꾼다
CoffeeBean_lower = [p.lower() for p in CoffeeBean]
print(CoffeeBean_lower)

# "S"자가 있는 CoffeeBean만 뽑는데 뒤에 (최신형) 이라는 글자를 붙인다
CoffeeBean_new = [p+" - New 2023" for p in CoffeeBean if p.endswith("s")]
print(CoffeeBean_new)

['JamaicanBlueMountainSE', 'KenyaAASE', 'SumatraMandhelingSE', 'ColombianMildsSE', 'SantosSE']
['jamaicanbluemountain', 'kenyaaa', 'sumatramandheling', 'colombianmilds', 'santos']
['ColombianMilds - New 2023', 'Santos - New 2023']

In [47]:
L11 = [100, 200, 300]
L11

[100, 200, 300]

In [48]:
print(L11)

[100, 200, 300]

In [49]:
print(L11[0])
print(L11[1])
print(L11[2])
print(L11[0:2])
print(L11[:2])
print(L11[0:3])
print(L11[0:])
print(L11[:3])
print(L11[:])
print(L11[-1])
print(L11[-2:])

100
200
300
[100, 200]
[100, 200]
[100, 200, 300]
[100, 200, 300]
[100, 200, 300]
[100, 200, 300]
300
[200, 300]

In [50]:
L11[0] = -1
print(L11)
L11[1] = L11[1] + 500
print(L11)

[-1, 200, 300]
[-1, 700, 300]

In [51]:
L11.extend([999])
L11

[-1, 700, 300, 999]

In [52]:
L11.append(3)
L11

[-1, 700, 300, 999, 3]

In [53]:
L11.index(700)

1

In [54]:
L11.index(0)

ValueError: 0 is not in list

In [55]:
my_list = ["korea", "English", "france"]
new_list = [x.upper() for x in my_list if "a" in x]
print(new_list)  # ['KOREA', 'FRANCE']

['KOREA', 'FRANCE']

### Tuples

In [56]:
T1 = ()                # 빈 튜플
T2 = (1,)              # 요소가 하나인 튜플 (마지막 쉼표는 튜플을 나타내기 위함)
T3 = (1, 2, 3)         # 요소가 세 개인 튜플
T4 = 1, 2, 3           # 괄호 없이 요소가 세 개인 튜플 (괄호 생략 가능)
T5 = ('a', 'b', ('ab', 'cd'))  # 중첩된 튜플

print(T1)  # ()
print(T2)  # (1,)
print(T3)  # (1, 2, 3)
print(T4)  # (1, 2, 3)
print(T5)  # ('a', 'b', ('ab', 'cd'))

T3[0] = 100  # 튜플의 값을 변경하려고 시도함 (튜플은 변경 불가능한 자료형)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

TypeError: 'tuple' object does not support item assignment

In [57]:
my_tuple = ('x', 'y', 'z')
print("Output #1: {}".format(my_tuple))
print("Output #2: my_tuple has {} elements".format(len(my_tuple))) # len(my_tuple)은 튜플 my_tuple의 요소 개수를 반환합니다.
print("Output #3: {}".format(my_tuple[1])) # my_tuple[1]은 인덱스 1에 해당하는 두 번째 요소를 반환합니다.
longer_tuple = my_tuple + my_tuple # my_tuple + my_tuple은 두 개의 튜플을 합쳐서 새로운 튜플인 longer_tuple을 생성합니다.
print("Output #4: {}".format(longer_tuple))

Output #1: ('x', 'y', 'z')
Output #2: my_tuple has 3 elements
Output #3: y
Output #4: ('x', 'y', 'z', 'x', 'y', 'z')

In [58]:
my_tuple = ('x', 'y', 'z')    # my_tuple = ('x', 'y', 'z'): 튜플 my_tuple의 값을 ('x', 'y', 'z')로 설정합니다.
one, two, three = my_tuple # one, two, three = my_tuple: 튜플의 값들을 변수 one, two, three에 순서대로 언패킹하여 할당합니다.
print("Output #1: {0} {1} {2}".format(one, two, three))
var1 = 'red'
var2 = 'robin'
print("Output #2: {} {}".format(var1, var2))
# 변수 var1, var2 = var2, var1 간의 값 교환
var1, var2 = var2, var1  # var1, var2 = var2, var1: 이 코드는 var1과 var2의 값을 서로 바꾸는 방법으로, 파이썬의 특징인 튜플 패킹과 언패킹을 이용합니다. (var2, var1)은 튜플을 형성하고 이를 var1과 var2로 언패킹하여 서로의 값을 교환합니다.
print("Output #3: {} {}".format(var1, var2))

Output #1: x y z
Output #2: red robin
Output #3: robin red

In [59]:
my_list = [1, 2, 3]
my_tuple = ('x', 'y', 'z')

# 리스트를 튜플로 변환하여 출력
print("Output #1: {}".format(tuple(my_list)))  # tuple(my_list): 리스트 my_list를 튜플로 변환합니다.
print(type(my_list))  # 출력: <class 'list'>

# 리스트를 튜플로 변환한 결과의 자료형 출력
my_list_t = tuple(my_list)
print(type(my_list_t))  # 출력: <class 'tuple'>

# 튜플을 리스트로 변환하여 출력
print("Output #2: {}".format(list(my_tuple)))  # list(my_tuple): 튜플 my_tuple을 리스트로 변환합니다.
print(type(my_tuple))  # 출력: <class 'tuple'>

# 튜플을 리스트로 변환한 결과의 자료형 출력
my_tuple_l = list(my_tuple)
print(type(my_tuple_l))  # 출력: <class 'list'>

Output #1: (1, 2, 3)
<class 'list'>
<class 'tuple'>
Output #2: ['x', 'y', 'z']
<class 'tuple'>
<class 'list'>

In [60]:
T444 = (444,)
T444

(444,)

In [61]:
type(T444)

tuple

In [62]:
T444 = (444)
T444

444

In [63]:
type(T444)

int

In [64]:
T300 = (100, 200, [4, 5, 6])
T300[2][0] = 300
T300

(100, 200, [300, 5, 6])

### Dictionaries

In [65]:
empty_dict = { }   # {}는 빈 딕셔너리를 나타냅니다.
a_dict = {'one':1, 'two':2, 'three':3}   # {'one': 1, 'two': 2, 'three': 3}와 같은 형태는 키-값(key-value) 쌍으로 이루어진 딕셔너리를 나타냅니다.
print("Output #1: {}".format(a_dict))
print("Output #2: a_dict has {!s} elements".format(len(a_dict)))   # len() 함수를 사용하여 딕셔너리의 요소 개수를 확인할 수 있습니다.
another_dict = {'x':'printer', 'y':5, 'z':['star', 'circle', 9]}
print("Output #3: {}".format(another_dict))
print("Output #4: another_dict also has {!s} elements".format(len(another_dict)))

Output #1: {'one': 1, 'two': 2, 'three': 3}
Output #2: a_dict has 3 elements
Output #3: {'x': 'printer', 'y': 5, 'z': ['star', 'circle', 9]}
Output #4: another_dict also has 3 elements

In [66]:
print("Output #..: {}".format(a_dict['two']))

print("Output #5: {}".format(another_dict['z']))
print("Output #6: {}".format(another_dict['z'][0]))
print("Output #7: {}".format(another_dict['z'][1:]))

Output #..: 2
Output #5: ['star', 'circle', 9]
Output #6: star
Output #7: ['circle', 9]

In [67]:
a_dict_keys = a_dict.keys()
print("Output #8: {}".format(a_dict_keys))
print("Output #9: {}".format(a_dict.values()))
print("Output #10: {}".format(a_dict.items()))

Output #8: dict_keys(['one', 'two', 'three'])
Output #9: dict_values([1, 2, 3])
Output #10: dict_items([('one', 1), ('two', 2), ('three', 3)])

In [68]:
a_new_dict = a_dict.copy()
print("Output #11: {}".format(a_new_dict))

Output #11: {'one': 1, 'two': 2, 'three': 3}

In [69]:
a_dict = {'one': 1, 'two': 2, 'three': 3}
another_dict = {'x': 'printer', 'y': 5, 'z': ['star', 'circle', 9]}

if 'y' in another_dict:   # 'y' 키가 another_dict에 있는지 확인합니다.
    print("Output #1: y is a key in another_dict: {}.".format(another_dict.keys()))

if 'c' not in another_dict:   # c' 키가 another_dict에 없는지 확인합니다.
    print("Output #2: c is not a key in another_dict: {}.".format(another_dict.keys()))

# 딕셔너리에서 특정 키에 대한 값을 가져오는 방법 -a_dict['three']와 a_dict.get('three')는 딕셔너리에서 'three' 키에 해당하는 값을 가져옵니다.
print("Output #3: {!s}".format(a_dict['three']))  # Output #3: 3
print("Output #3: {!s}".format(a_dict.get('three')))  # Output #3: 3

# 존재하지 않는 키에 대한 값 가져오기 - KeyError 발생
# print("Output #3: {!s}".format(a_dict['four']))

# a_dict.get('four')와 a_dict.get('four', 'Not in dict')는 존재하지 않는 'four' 키에 대한 값을 가져옵니다. KeyError가 발생하지 않고 get() 메서드를 사용할 때 기본값으로 None을 반환합니다. 추가적으로, get() 메서드의 두 번째 매개변수를 사용하여 기본값을 설정할 수 있습니다.
# 존재하지 않는 키에 대한 값 가져오기 - get() 메서드 사용하여 기본값 반환
print("Output #4: {!s}".format(a_dict.get('four')))  # Output #4: None

# get() 메서드를 사용하면 존재하지 않는 키일 때 기본값을 지정할 수 있음
print("Output #5: {!s}".format(a_dict.get('four', 'Not in dict')))  # Output #5: Not in dict

Output #1: y is a key in another_dict: dict_keys(['x', 'y', 'z']).
Output #2: c is not a key in another_dict: dict_keys(['x', 'y', 'z']).
Output #3: 3
Output #3: 3
Output #4: None
Output #5: Not in dict

In [70]:
D1 = {
    "key1": [333, 444, 555],
    "key2": (100, 200)
}
D1

{'key1': [333, 444, 555], 'key2': (100, 200)}

In [71]:
D1["key1"][0] = -999
D1["key1"]

[-999, 444, 555]

In [72]:
D1["key2"] = 1234
D1["key2"]

1234

### Set

In [73]:
CompanyA = {"JamaicanBlueMountain", "KenyaAA", "SumatraMandheling"} # CompanyA CoffeeBeen 집합
CompanyB = set(["JamaicanBlueMountain", "Mocha"]) # CompanyB CoffeeBeen 집합

#교집합
print(CompanyA & CompanyB) # {'JamaicanBlueMountain'}
print(CompanyA.intersection(CompanyB)) # {'JamaicanBlueMountain'}

#합집합
print(CompanyA | CompanyB) # {'Mocha', 'JamaicanBlueMountain', 'KenyaAA', 'SumatraMandheling'}
print(CompanyA.union(CompanyB)) # {'Mocha', 'JamaicanBlueMountain', 'KenyaAA', 'SumatraMandheling'}

#차집합
print(CompanyA - CompanyB) # {'SumatraMandheling', 'KenyaAA'}
print(CompanyA.difference(CompanyB)) # {'SumatraMandheling', 'KenyaAA'}

#추가
CompanyB.add("KenyaAA")
print(CompanyB) # {'Mocha', 'JamaicanBlueMountain', 'KenyaAA'}

#삭제
CompanyA.remove("KenyaAA")
print(CompanyA) # {'JamaicanBlueMountain', 'SumatraMandheling'}

{'JamaicanBlueMountain'}
{'JamaicanBlueMountain'}
{'JamaicanBlueMountain', 'KenyaAA', 'Mocha', 'SumatraMandheling'}
{'JamaicanBlueMountain', 'KenyaAA', 'Mocha', 'SumatraMandheling'}
{'KenyaAA', 'SumatraMandheling'}
{'KenyaAA', 'SumatraMandheling'}
{'KenyaAA', 'Mocha', 'JamaicanBlueMountain'}
{'JamaicanBlueMountain', 'SumatraMandheling'}

In [74]:
CompanyA.issubset({'JamaicanBlueMountain', 'SumatraMandheling'})

True

In [75]:
CompanyA.issubset({'KenyaAA'})

False

## Python’s Statement

In [76]:
iCnt = 100
if iCnt > 50 :
 print("big")
else:
 print("small")

big

In [77]:
iCnt = 70;
if iCnt > 80 :
 print("very big")
elif iCnt > 50 :
 print("big")
else:
 print("small")

big

In [78]:
num1 = int(input("첫번째 정수값 >> "))
operator = input("연산자 >> ")
num2 = int(input("두번째 정수값 >> "))

if operator == '+':
    result = num1 + num2
    operator_str = '더하기'
elif operator == '-':
    result = num1 - num2
    operator_str = '빼기'
elif operator == '*':
    result = num1 * num2
    operator_str = '곱하기'
elif operator == '/':
    result = num1 / num2
    operator_str = '나누기'
else:
    print("잘못된 연산자입니다.")
    exit()

print("==========================")
print(f"{num1} {operator_str} {num2}을 계산합니다.")
print("==========================")
print(f"{num1} {operator} {num2} = {result}입니다.")

첫번째 정수값 >>  19
연산자 >>  +
두번째 정수값 >>  40

==========================
19 더하기 40을 계산합니다.
==========================
19 + 40 = 59입니다.

In [79]:
dic = {1:1, 2:4, 3:9} 
for key in dic:
    print('key=', key, 'value=', dic[key])

key= 1 value= 1
key= 2 value= 4
key= 3 value= 9

In [80]:
from random import *

cnt = 0 # 총 탑승 승객 수
for i in range(1, 51): # 총 50분의 승객
    time = randrange(5, 51) # 5분 ~ 50분 사이의 소요 시간
    
    if 5 <= time <= 15: # 5분 ~ 15분 사이의 손님의 경우 매칭 성공
        print("[O] {0}번째 손님 (소요시간 : {1}분)".format(i, time)) # 성공 정보 출력
        cnt += 1 # 총 탑승 승객 수 증가 처리
    else: # 매칭 실패한 경우
        print("[ ] {0}번째 손님 (소요시간 : {1}분)".format(i, time)) # 실패 정보 출력

print("총 탑승 승객 : {0}분".format(cnt))

[ ] 1번째 손님 (소요시간 : 16분)
[ ] 2번째 손님 (소요시간 : 50분)
[O] 3번째 손님 (소요시간 : 13분)
[ ] 4번째 손님 (소요시간 : 22분)
[O] 5번째 손님 (소요시간 : 11분)
[O] 6번째 손님 (소요시간 : 13분)
[ ] 7번째 손님 (소요시간 : 35분)
[O] 8번째 손님 (소요시간 : 5분)
[ ] 9번째 손님 (소요시간 : 18분)
[O] 10번째 손님 (소요시간 : 8분)
[ ] 11번째 손님 (소요시간 : 18분)
[ ] 12번째 손님 (소요시간 : 28분)
[ ] 13번째 손님 (소요시간 : 48분)
[O] 14번째 손님 (소요시간 : 11분)
[ ] 15번째 손님 (소요시간 : 45분)
[ ] 16번째 손님 (소요시간 : 45분)
[ ] 17번째 손님 (소요시간 : 44분)
[ ] 18번째 손님 (소요시간 : 43분)
[ ] 19번째 손님 (소요시간 : 31분)
[O] 20번째 손님 (소요시간 : 8분)
[ ] 21번째 손님 (소요시간 : 39분)
[O] 22번째 손님 (소요시간 : 5분)
[ ] 23번째 손님 (소요시간 : 30분)
[ ] 24번째 손님 (소요시간 : 38분)
[O] 25번째 손님 (소요시간 : 11분)
[O] 26번째 손님 (소요시간 : 6분)
[ ] 27번째 손님 (소요시간 : 21분)
[O] 28번째 손님 (소요시간 : 11분)
[ ] 29번째 손님 (소요시간 : 44분)
[O] 30번째 손님 (소요시간 : 6분)
[ ] 31번째 손님 (소요시간 : 22분)
[ ] 32번째 손님 (소요시간 : 25분)
[O] 33번째 손님 (소요시간 : 11분)
[O] 34번째 손님 (소요시간 : 6분)
[ ] 35번째 손님 (소요시간 : 25분)
[ ] 36번째 손님 (소요시간 : 18분)
[O] 37번째 손님 (소요시간 : 10분)
[ ] 38번째 손님 (소요시간 : 16분)
[ ] 39번째 손님 (소요시간 : 29분)
[ ] 40번째 손님 (소요시간 : 30분)
[ ] 41번째 손님 (소요시간 : 34분)
[ ] 42번째 손님 (소요시간 : 16분)
[ ] 43번째 손님 (소요시간 : 21분)
[ ] 44번째 손님 (소요시간 : 41분)
[ ] 45번째 손님 (소요시간 : 37분)
[ ] 46번째 손님 (소요시간 : 16분)
[ ] 47번째 손님 (소요시간 : 31분)
[ ] 48번째 손님 (소요시간 : 45분)
[ ] 49번째 손님 (소요시간 : 42분)
[ ] 50번째 손님 (소요시간 : 21분)
총 탑승 승객 : 15분

In [81]:
Customer = [2, 5] # 자리를 뜬 손님

for waitingNumber in range(1, 11): # 대기번호 1~10번
    if waitingNumber in Customer: # 호출 손님이 자리를 떴을 경우, 다음 손님으로 이동
        continue
    print("{0}, 번 손님!!!".format(waitingNumber))

1, 번 손님!!!
3, 번 손님!!!
4, 번 손님!!!
6, 번 손님!!!
7, 번 손님!!!
8, 번 손님!!!
9, 번 손님!!!
10, 번 손님!!!

In [82]:
absent = [2, 5] # 결석한 학생 출석번호
no_book = [7] # 책을 가져오지 않은 학생 출석번호

for student in range(1, 11): # 출석번호 1~10번
    if student in absent: # 결석했으면 책을 읽지 않고 다음 학생으로 넘어가기
        continue
    elif student in no_book: # 책을 가져오지 않았으면 바로 수업 종료 (반복문 탈출)
        print("오늘 수업 여기까지. {0}는 교무실로 따라와".format(student))
        break
    print("{0}, 책을 읽어봐".format(student))

1, 책을 읽어봐
3, 책을 읽어봐
4, 책을 읽어봐
6, 책을 읽어봐
오늘 수업 여기까지. 7는 교무실로 따라와

## Python’s 함수

In [83]:
def sum(a,b):
    return a+b

print(sum(3,4))

7

In [84]:
def say():\
    return 'hello'
a = say()
print(a)

hello

In [85]:
def say():
    print("hello")

a = say()

print(say())

hello
hello
None

In [86]:
def sum_many(*args):
    sum =  0
    for i in args:
        sum += i
    return sum

print(sum_many(1,2,3,4,5))

15

In [87]:
def sum_mul(choice, *args):
    if choice == 'mul':
        result = 1
        for i in args:
            result *= i
    else:
        result = 0
        for i in args:
            result += i
    return result

print(sum_mul('mul', 1,2,3,4,5))

120

In [88]:
def sum_and_mul(a, b):
    return (a+b, a*b)

print(sum_and_mul(3,4))

(7, 12)

In [89]:
def say_nick(nick):
    if nick == 'fool':
        return
    print(nick)

say_nick('genius')

say_nick('fool')

genius

In [90]:
def say_name_nick(name, nick='genius'):
    print(name, nick)

say_name_nick('Dave')

say_name_nick('Dave','fool')

Dave genius
Dave fool

In [91]:
class FourCal:
	def setdata(self, first, second):
		self.first = first
		self.second = second
	def add(self):
		result = self.first + self.second
		return result
	def mul(self):
		result = self.first * self.second
		return result
	def sub(self):
		result = self.first - self.second
		return result
	def div(self):
		result = self.first / self.second
		return result

In [92]:
a = FourCal()
b = FourCal()
a.setdata(4, 2)
b.setdata(3, 8)

print(a.add())
print(a.mul())
print(a.sub())
print(a.div())
print(b.add())
print(b.mul())
print(b.sub())
print(b.div())

6
8
2
2.0
11
24
-5
0.375

In [93]:
def myfunc(numbers):
    result = []
    for number in numbers:
        if number > 5:
            result.append(number)
    return result

result = myfunc([2, 3, 4, 5, 6, 7, 8])
print(result)

[6, 7, 8]

In [95]:
Integer1 = int(input("첫 번째 정수를 입력하시오: "))
Integer2 = int(input("두 번째 정수를 입력하시오: "))
sum=lambda a,b:a+b
print("합은 ", sum(Integer1 ,Integer2))

첫 번째 정수를 입력하시오:  10
두 번째 정수를 입력하시오:  20

합은  30

In [96]:
def std_weight(height, gender): # 키 m 단위 (실수), 성별 "남자" / "여자"
    if gender == "남자":
        return height * height * 22
    else:
        return height * height * 21

height = 175 # cm 단위
gender = "남자"
weight = round(std_weight(height / 100, gender), 2) # 소수점 둘째자리까지 반올림
print("키 {0}cm {1}의 표준 체중은 {2}kg 입니다.".format(height, gender, weight))

키 175cm 남자의 표준 체중은 67.38kg 입니다.

# 빅데이터 분석 예

In [97]:
training_data = [['연두', 3, '사과'],
                 ['노랑', 3, '사과'],
                 ['빨강', 2, '포도'],
                 ['빨강', 1, '포도'],
                 ['노랑', 3, '레몬']]
def fruit_counts(data):
    counts = {}
    for row in data:
        label = row[-1] # 루프 내의 row 변수에서 적절한 인덱싱을 수정하여 과일 이름에 접근
        if label not in counts:
            counts[label] = 0
        counts[label] += 1
    return counts
result = fruit_counts(training_data)
print(result)

{'사과': 2, '포도': 2, '레몬': 1}

In [98]:
training_data = [['연두', 3, '사과'],
                 ['노랑', 3, '사과'],
                 ['빨강', 2, '포도'],
                 ['빨강', 1, '포도'],
                 ['노랑', 3, '레몬']]
def fruit_counts(data):
    counts = {}
    for row in data:
        label = row[0] # 루프 내의 row 변수에서 적절한 인덱싱을 수정하여 과일 이름에 접근
        if label not in counts:
            counts[label] = 0
        counts[label] += 1
    return counts
result = fruit_counts(training_data)
print(result)

{'연두': 1, '노랑': 2, '빨강': 2}